/* ======================== *\
    #
\* ======================== */

/* Remove default anki stats */
#studiedToday {
    display: none;
}

.momentum {
    width: 80%;

    margin: 0.4rem 0 1rem;
    padding: 1rem 1.75rem 0.75rem 1.25rem;

    border: 1px solid var(--border-subtle);
    border-radius: var(--border-radius-medium);
    box-shadow: 0px 2px 1px -1px rgba(20, 20, 20, 0.12),
        0px 1px 1px 0px rgba(20, 20, 20, 0.06),
        0px 1px 3px 0px rgba(20, 20, 20, 0.04);
    background: var(--canvas-glass);
}

/* ======================== *\
    #Today!
\* ======================== */

.reviewed-today {
    display: flex;
    align-items: center;

    margin: 0 0 0.3rem;
    padding-bottom: 0.3em;
    border-bottom: 1px solid var(--border);
}
.reviewed__lbl {
    margin-right: auto;
}
.reviewed__improve {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0 0.5rem;
    margin: 0 0.5rem;

    font-size: 0.7rem;
    font-weight: normal;
    opacity: 0.8;

    position: relative;
}
.reviewed__num {
    padding: 0 0.3rem;
}

/* ======================== *\
    #Stat line
\* ======================== */

.stat-line {
    display: flex;
    justify-content: space-between;

    /* normalize the ul */
    margin: 0.3rem 0;
    padding: 0;
    list-style-type: none;
}

.highlight {
    font-weight: bold;
}

/* ======================== *\
    #Chart
\* ======================== */

.chart {
    margin: 0.5rem 0;
}

.high-score {
    float: right;

    margin: 0.2rem 0.6rem;
    padding: 0.2rem 0.6rem;

    color: white;
    background-color: var(--button-primary-bg);
    border-radius: 0.3rem;

    font-weight: bold;
    font-size: 0.8rem;
}

/* ------------------------ *\
    #line Graph
\* ------------------------ */

.line {
    fill: none;
    stroke: var(--button-primary-bg);
    stroke-width: 5;
}

.point {
    fill: var(--button-primary-bg);
    transition: 0.2s scale ease-out;
}

/* ------------------------ *\
    #Average Line
\* ------------------------ */

.avg-line {
    stroke: var(--button-primary-bg);
    stroke-width: 2;
}

.avg-text {
    fill: var(--button-primary-bg);
    text-anchor: end;
    font-weight: bold;
}

/* ------------------------ *\
    #Under Area
\* ------------------------ */

.under-area {
    fill: url(#AreaGradient);
}

#AreaGradient {
    & > .stop1 {
        stop-color: var(--button-primary-bg);
        stop-opacity: 0.5;
    }
    & > .stop2 {
        stop-color: var(--canvas-glass);
        stop-opacity: 0;
    }
}

/* ------------------------ *\
    #Tooltip
\* ------------------------ */

.tooltip {
    pointer-events: none;
    transition: opacity 0.15s ease-out;
}
.tooltip__text > text {
    fill: white;
    text-anchor: middle;
}
.tooltip__reviews {
    font-weight: bold;
}
.tooltip__date {
}

.tooltip__bg {
    fill: black;
    opacity: 0.7;
}
