/* ======================== *\
    #
\* ======================== */

.momentum {
    margin: 6px 0 1rem;
}

/* ======================== *\
    #Today!
\* ======================== */

.reviewed-today {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.3rem 0;
}
.reviewed__lbl {
    font-weight: bold;
}
.reviewed__num {
    font-weight: bold;
    font-size: 2rem;

    padding: 0.3rem;
}

/* ======================== *\
    #Stat line
\* ======================== */

.stat-line {
    /* normalize */
    margin: 0;
    padding: 0;
    list-style-type: none;

    display: flex;
    justify-content: space-between;
    max-width: 500px;
}

.highlight {
    font-weight: bold;
}
