/* ======================== *\
    #
\* ======================== */

/* Remove default anki stats */
#studiedToday {
    display: none;
}

.momentum {
    width: 80%;

    margin: 0.4rem 0 1rem;
    padding: 1rem 1.75rem 0.75rem 1.25rem;

    border: 1px solid var(--border-subtle);
    border-radius: var(--border-radius-medium);
    box-shadow: 0px 2px 1px -1px rgba(20, 20, 20, 0.12),
        0px 1px 1px 0px rgba(20, 20, 20, 0.06),
        0px 1px 3px 0px rgba(20, 20, 20, 0.04);
    background: var(--canvas-glass);
}

/* ======================== *\
    #Today!
\* ======================== */

.reviewed-today {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 0 0 0.3rem;
    padding-bottom: 0.25em;
    border-bottom: 1px solid var(--border);

    font-weight: bold;
}
.reviewed__lbl {
}
.reviewed__num {
    padding: 0.3rem;
}

/* ======================== *\
    #Stat line
\* ======================== */

.stat-line {
    display: flex;
    justify-content: space-between;

    /* normalize the ul */
    margin: 0.3rem 0;
    padding: 0;
    list-style-type: none;
}

.highlight {
    font-weight: bold;
}

/* ======================== *\
    #Chart
\* ======================== */

.chart {
    margin: 0.5rem 0;
}

.line {
    fill: none;
    stroke: var(--button-primary-bg);
    stroke-width: 5;
}

.point {
    fill: var(--button-primary-bg);
    transition: 0.2s scale ease-out;
}
